
.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}
.pricing-plan{
    flex: 1;
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 3s ease;
}

.plan-title, .plan-price{
    font-weight: bold;
    font-size: 24px;
}

.plan-price{
    font-size: 48px;
    margin-bottom: 10px;
}
.plan-features{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    font-size: 18px;
    margin-bottom: 20px;
}
.plan-button{
    background-color: orange;
    border-style: none;
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
}

.pricing-plan:hover{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    scale:1.2;
}

